// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

    $primary-color: rgb(94, 161, 248);
    $text-color: rgb(255, 255, 255);
    $general-font: monospace;
    $size: 20px;
    $text-margin: center;
    $responsivness: 100%; // :V JEJEJEJE 

    body {
    background: $primary-color;
    color: $text-color;
    font-family: $general-font;
    font-size: $size;
    text-align: $text-margin;

    
    }
    
    .logo{
    max-width: $responsivness;    
    padding-top: 1%;
    
    }
    
    .slogan {
    color: black;
    
    }
    
    
    li, ul, b {
    list-style: none;
    
    }
    
    button, input{
    background-color: pink;
    font-weight: bold;
    
    }