// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: rgb(94, 161, 248);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    
    }
    
    .logo{
    max-width: 100%;    
    padding-top: 1%;
    
    }
    
    .slogan {
    color: black;
    
    }
    
    
    li, ul, b {
    list-style: none;
    
    }
    
    button, input{
    background-color: pink;
    font-weight: bold;
    
    }